.containerr{
  width: 85%;
  margin: auto;
}


.sectionOne {
  .backImage {
    position: relative;

    img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
      position: relative;
    }
    .backBox {
      width: 100%;
      position: absolute;
      top: 0;
      height: 40vh;
      background-color: rgba(51, 51, 51, 0.459);
    }
    h2 {
      position: absolute;
      margin-top: 5%;
      margin-left: 50px;
      color: #fff;
      top: 0;
      font-size: 48px;
      // font-family: "Cerebri Sans";
    }
    .buttonBox {
      position: absolute;
      top: 0;
      margin-left: 20px;
      margin-top: 250px;
      padding: 12px 60px;
      background-color: white;
      box-shadow: 0 2px 11px 1px rgba(208, 208, 208, 0.2);
      border-radius: 40px;
      font-size: 24px;
      font-weight: 600;
      .oneT {
        color: #666666;
        cursor: pointer;
      }
      i {
        color: #666666;
        font-size: 15px;
      }
      span {
        color: #4e97fd;
      }
    }
  }
}
.sectionTwo {
  width: 99%;
  height: 150vh;
  .back {
    margin-top: 100px;
    margin-left: 55px;
    object-fit: cover;
    width: 700px;
    height: 620px;
  }
  .text-box {
    margin-left: 30px;

    h2 {
      margin-top: 100px;
    }
    span {
      color: #9b9bb5;
      font-size: 16px;
    }
  }
  .boxes {
    margin-top: 20px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    i {
      color: #4e97fd;
      font-size: 35px;
      //  margin-top: 20px;
      // display: inline-block;
    }
    h6 {
      display: inline-block;
      font-size: 15px;
      color: #9b9b9b;
      font-weight: bold;
      margin-left: 20px;
      //  margin-top: -300px;
    }
    p {
      display: inline-block;
      margin-left: 55px;
      font-size: 24px;
      // font-family: cursive;
      font-weight: 500;
    }
  }
  .circle {
    position: absolute;
    top: 600px;
    left: 0;
    z-index: -1;
  }
}

.sectionFour {
  height: 100vh;
  margin-top: 70px;
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    color: #b8b9b8;
    font-size: 17px;
    margin-bottom: 50px;
  }
  .home-input {
    width: 80%;
    margin: auto;
  }

  .check-icon {
    right: 0px;
    position: absolute;
    top: 2px;
  }

  .times-icon {
    left: 350px;
    position: absolute;
    top: 20px;
    color: #666666;
    font-size: 17px;
  }
  input {
    padding: 18px 100px;
    margin-left: 10px;
    border: 2px solid #e9e9e9;
  }

  .icon-input {
    padding-right: 0px;
  }

  textarea {
    margin-top: 50px;
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 20px;
    border: 2px solid #e9e9e9;
  }

  button {
    background-color: #4e97fd;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 43%;
    margin-top: 30px;
    font-size: 13px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: #e4573d;
    }
  }
}

.sectionFive {
  height: 50vh;
  margin-left: 50px;
  .image-box {
    margin-left: -8px;
    display: inline-block;
    // transition: 0.3s ease-in-out;
    width: 210px;
    height: 210px;
    overflow: hidden;
    
    position: relative;
    img {
      height: 210px;
      width: 210px;
      transition: 0.3s ease-in-out;
      
    }
    i{
      // opacity: 1;
      top: -100px;
      left: 80px;
      // margin-left: 50%;
      font-size: 60px;
      z-index: 10;
      color: white;
      transition: 0.3s ease-in-out;
      position: absolute;
    }
   
    &::before{
      position: absolute;
      content: "";
      left: 4%;
      top: 0;
      height: 100%;
      width: 96%;
      
      transition: 0.3s ease-in-out;
    
    }
     
    &:hover {
 &::before{
  
    background-color: #00324277;
  
 }
      i{
        transform: translateY(160px);
        // opacity: 1;
      }
    }
  }
}
